<a href="https://colab.research.google.com/github/btramduong0810/dsc-mod-1-project-v2-1-online-ds-sp-000/blob/master/Data_Science_in_Action_The_Movie_Industry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Final Project Submission

* Student name: **BAO TRAM DUONG**
* Student pace: **SELF-PACED DATA SCIENCE PROGRAM**
* Scheduled project review date/time: 
* Instructor name: **JEFF HERMAN**
* Blog post URL:

# **Table of Contents**

**1.  Introduction**

1.1  Problem Statement

1.2  The Approach

1.3  Data Sources

1.4  Methodology

**2.  Data Preparation**

2.1  Data reading

2.2  Data cleaning

2.3  Joining the dataframes and save as a seperated notebook

**3.  Data Visualization**

3.1  Budget

3.2  Runtime

3.3  Genre

3.4a  Release time: date

3.4b  Release time: month

3.4c  Release time: day

**4.  Conclusion and Future Work**

4.1  Summary of Findings

4.2  Actionable Insights

4.3  Future Works

## **1. INTRODUCTION**

### **1.1 Business Statement**

Microsoft sees all the big companies creating original video content, and they want to get in on the fun. They have decided to create a new movie studio, but the problem is they don’t know anything about creating movies. They have hired a team of data scientist from Flatiron to help them better understand the movie industry. The team is charged with doing data analysis and creating a presentation that explores what type of films are currently doing the best at the box office. The team must then translate those findings into actionable insights that the CEO can use when deciding what type of films they should be creating.

What makes a movie succesful and how do we create the next blockbuster movie that can return the highest ROI possible?

### **1.2 Our Approach**

We will first investigate the notion of profit and profit margin within the movie industry.

We will then explore the characteristics of a successful movie and seek to answer the following questions:

What budget should be allocated?
What movie genres are currently performing best?
What is the optimal movie runtime
What should the release date be to maximise success?
Finally, we will explore two particular scenarios:

Online distribution of movies, examining Netflix original movies
Movies based on video games, as the Company has existing franchises it could leverage

### **1.3 Data Sources**

Data for this project was obtained from the following repository and also saved in ZippedData folder in this repository.

The data comes from:

1.   Box Office Mojo
2.   IMDB
3.   Rotten Tomatoes
4.   TheMovieDB.org

### **1.4 Methodology**

Data Cleaning and Preparation using Pandas and Numpy packages:

1. Importing libraries

2. Reading and cleaning provided data

3. Dealing with missing values

4. Joining datasets to create one main dataframe and save it as a seperated file

Data Visulization using Matplotlib and Seaborn packages:

1. Creating visualisations 

2. Drawing conclusions from results

3. Providing insights and recommendations

## **2. DATA PREPARATION**

First, import all required packages:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

/Users/baotramduong8/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

From a glance, we see that we have many files to go through. Let's use glob() to retrieve all the file paths:

In [2]:
#the glob module is used to retrieve files/pathnames matching a specified pattern
from glob import glob

In [5]:
# Create a list of all .csv files using glob()
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData/imdb.title.crew.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.title.ratings.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz',
 './zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.title.principals.csv.gz']

In [6]:
len(csv_files) #we need to go through 9 .csv files

9

In [7]:
# Create a list of all tsv files using glob
tsv_files = glob("./zippedData/*.tsv.gz")
tsv_files

['./zippedData/rt.reviews.tsv.gz', './zippedData/rt.movie_info.tsv.gz']

In [8]:
len(tsv_files) #and 2 .tsv files

2

As we will see, there are a lot of information to go through. However, because of the time constraint and for the scope of this project, I will selectively pick and choose just a few features to do analysis on.

Let's display all data at once and also simplify the data title.

Positive word of mouth has an enormous effect on the success of the movie. It's not just how positive the reviews are but also the number of reviews that can predict box office success. We can use the movie_df and title_rating below to observe the correlation between vote_count, vote_average and genres to see which genre has the highest attention from the audience. It also includes release date, which is also an important factor contributing to the movie success i.e. the timing and appropriateness of its release schedule.

In [20]:
#Create dataframe
movies_df = pd.read_csv('./zippedData/tmdb.movies.csv.gz')
movies_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [22]:
#Create dataframe
title_rating_df = pd.read_csv('./zippedData/imdb.title.ratings.csv.gz')
title_rating_df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

When it comes to box office dollars, the recipe for a successful movie is pretty simple: small budget + massive ticket sales = huge profit! Hence, we will utilize the movie_budgets_df and movie_gross_df to do further analysis on them.

In [25]:
#Create dataframe
movie_budgets_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')
movie_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [26]:
#Create dataframe
movie_gross_df = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')
movie_gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

The movie_info_df below has some of the features that are worth investigating, such as genre, realease date (theater_date) and runtime. We will also pick these dataframes movie_info_df and title_basics_df to work with.

Director and writer are also interesting to look at, but this is out of the scope for this project.

In [30]:
#Create dataframe
movie_info_df = pd.read_table('./zippedData/rt.movie_info.tsv.gz', delimiter = '\t', encoding = 'latin-1')
movie_info_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [24]:
#Create dataframe
title_basics_df = pd.read_csv('./zippedData/imdb.title.basics.csv.gz')
title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

As mentioned above, many things are outside the scope of this project. We will not use these dataframes below:

In [19]:
#Create dataframe
title_crew_df = pd.read_csv('./zippedData/imdb.title.crew.csv.gz') #not selected
title_crew_df.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [23]:
#Create dataframe
name_basics_df = pd.read_csv('./zippedData/imdb.name.basics.csv.gz') #not selected
name_basics_df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

Movie researchers has found that critics have a dual role, where they both influence consumers' movie choice and predict box office performance by reflecting moviegoers' tastes. The reviews_df offers these insights, unfortunately we won't be using this dataframe since this will take up extra time.

In [29]:
#Create dataframe
reviews_df = pd.read_table('./zippedData/rt.reviews.tsv.gz', delimiter = '\t', encoding = 'latin-1') #not selected
reviews_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [21]:
#Create dataframe
title_aka_df = pd.read_csv('./zippedData/imdb.title.akas.csv.gz') #not selected
title_aka_df.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [27]:
#Create dataframe
title_principals_df = pd.read_csv('./zippedData/imdb.title.principals.csv.gz') #not selected
title_principals_df.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

# **3. DATA VISUALIZATION**

# **4. CONCLUSION & FUTURE WORKS**